vlan 200
interface Ethernet1
switchport access vlan 200
interface Vlan200
ip address 192.168.200.1/24

vrf instance B1
ip routing vrf B1

ip routing



interface Ethernet3
no switchport
vrf B1
ip address 172.31.0.2/30


interface Ethernet5
no switchport
vrf B1
ip address 172.31.0.6/30


interface Ethernet7
no switchport
ip address 172.31.0.10/30

ip route vrf B1 192.168.101.0/24 172.31.0.1
ip route vrf B1 192.168.200.0/24 172.31.0.5
ip route 192.168.101.0/24 172.31.0.9
