hostname bob
spanning-tree mode mstp
no aaa root
username admin privilege 15 role network-admin secret sha512 $6$24NEwyQfB7LDYw99$n3tVOTFH26GDmWmwNj4yW2XKgPZjYO4IzgaX8mWbNRlCDEzcm2hSiE/n9GUPJgU74c/nPlUYdmf1Y2zZXcnuO.
username ocean privilege 15 secret sha512 $6$eo4K.WyEKqayuBGE$Sb8MeRpbTDVLWnX97YCeSOKY7ATl8ECT1WQ5JkQkiCK8FSGQ9tlY/RGLQrFfEivKER2FOSZukGUegSgjHPhtm0
vlan 200
interface Ethernet1
switchport access vlan 200
interface Vlan200
ip address 192.168.200.1/24

vrf instance B1
ip routing vrf B1

vrf instance B2
ip routing vrf B2

vrf instance B3
ip routing vrf B3

vrf instance B4
ip routing vrf B4

ip routing



interface Ethernet3
no switchport
vrf B1
ip address 172.31.0.2/30


interface Ethernet5
no switchport
vrf B2
ip address 172.31.0.6/30


interface Ethernet7
no switchport
vrf B1
ip address 172.31.0.10/30


interface Ethernet9
no switchport
vrf B1
ip address 172.31.0.14/30


interface Ethernet11
no switchport
vrf B2
ip address 172.31.0.18/30


interface Ethernet13
no switchport
vrf B2
ip address 172.31.0.22/30


interface Ethernet15
no switchport
vrf B3
ip address 172.31.0.26/30


interface Ethernet17
no switchport
vrf B3
ip address 172.31.0.30/30


interface Ethernet19
no switchport
vrf B4
ip address 172.31.0.34/30


interface Ethernet21
no switchport
vrf B4
ip address 172.31.0.38/30


interface Ethernet23
no switchport
vrf B3
ip address 172.31.0.42/30


interface Ethernet25
no switchport
vrf B4
ip address 172.31.0.46/30


interface Ethernet27
no switchport
ip address 172.31.0.50/30

ip route vrf B1 192.168.100.0/24 172.31.0.1
ip route vrf B1 192.168.200.0/24 172.31.0.13
ip route vrf B1 192.168.200.0/24 172.31.0.9
ip route vrf B2 192.168.100.0/24 172.31.0.5
ip route vrf B2 192.168.200.0/24 172.31.0.21
ip route vrf B2 192.168.200.0/24 172.31.0.17
ip route vrf B3 192.168.100.0/24 172.31.0.29
ip route vrf B3 192.168.100.0/24 172.31.0.25
ip route vrf B3 192.168.200.0/24 172.31.0.41
ip route vrf B4 192.168.100.0/24 172.31.0.37
ip route vrf B4 192.168.100.0/24 172.31.0.33
ip route vrf B4 192.168.200.0/24 172.31.0.45
ip route 192.168.100.0/24 172.31.0.49
