hostname alice
spanning-tree mode mstp
no aaa root
username admin privilege 15 role network-admin secret sha512 $6$dt1hleZX02zeuTBy$X9V33JIH18IBmLzkNd.hG0PMSkw3YKONLdPOsxfAPIdUi1L.L6uIQDulT31lUbaFc8ul8IE3NGjOFirN4F2Qf.
username ocean privilege 15 secret sha512 $6$.yWSt.W1J8Q/rscJ$MEA8bMn5TPotyuYlwTORsRKBmRUCenM/jvM6CwWqeoc4Z39pQ0GKm5tEkUEX9z3oo5ZYtNfjQd3gIJLI4uv45.
vlan 100
interface Ethernet1
switchport access vlan 100
interface Vlan100
ip address 192.168.100.1/24

ip routing

vrf instance A1
ip routing vrf A1

vrf instance A2
ip routing vrf A2



interface Ethernet3
no switchport
ip address 172.31.0.1/30


interface Ethernet5
no switchport
ip address 172.31.0.5/30


interface Ethernet7
no switchport
vrf A1
ip address 172.31.0.9/30


interface Ethernet9
no switchport
vrf A2
ip address 172.31.0.13/30


interface Ethernet11
no switchport
vrf A1
ip address 172.31.0.17/30


interface Ethernet13
no switchport
vrf A2
ip address 172.31.0.21/30

ip route 192.168.200.0/24 172.31.0.6
ip route 192.168.200.0/24 172.31.0.2
ip route vrf A1 192.168.100.0/24 172.31.0.10
ip route vrf A1 192.168.200.0/24 172.31.0.18
ip route vrf A2 192.168.100.0/24 172.31.0.14
ip route vrf A2 192.168.200.0/24 172.31.0.22
